.vs
BriansBrain.Forms/obj
BriansBrain/obj
GameOfLife.Core/obj
GameOfLife.Forms/bin
GameOfLife.Forms/obj
GameOfLife.Test/obj
GameOfLife.Core/bin
GameOfLife.WPF/obj
GameOfLife.WPF/bin
BriansBrain/bin
BriansBrain.Forms/bin
GameOfLife.Test/bin
